@font-face {
  font-family: 'Plentoregular';
  src: url('../fonts/plento-regular.woff2') format('woff2'),
       url('../fonts/plento-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Phenomenabold';
  src: url('../fonts/phenomena-bold.woff2') format('woff2'),
       url('../fonts/phenomena-bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Phenomenalight';
  src: url('../fonts/phenomena-light.woff2') format('woff2'),
       url('../fonts/phenomena-light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Phenomenaregular';
  src: url('../fonts/phenomena-regular.woff2') format('woff2'),
       url('../fonts/phenomena-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
